CREATE OR ALTER PROCEDURE [dbo].[USP_PrintMessage] 
	@Message    VARCHAR(1000), 
	@IdProc     INT           = NULL, 
	@Debug      BIT           = 1
AS
/*
	Store Procedure that print the received message by parameter.

	Parameters	:
	@Message	: Message (text) to print.
	@IdProc		: @@IdProc of the process from which it is executed.
	@Debug		: Show message if @Debug is 1.

	Execution:
	EXEC USP_PrintMessage 'Hello world', @@ProcId, 1

	AUTHOR: Fernando Casas Osorio
*/
BEGIN
	SET NOCOUNT ON
	DECLARE 
	@NameProc	varchar(250) = TRIM(' .' FROM CONCAT(OBJECT_SCHEMA_NAME(@IdProc), '.', OBJECT_NAME(@IdProc))),
	@Result    VARCHAR(MAX)

	IF @Debug = 0 RETURN 0

	SET @Result = CONCAT(
		REPLACE('{' + CONVERT(VARCHAR(50), GETDATE(), 5) + ' ' + CONVERT(VARCHAR(50), GETDATE(), 108) + '}' + '{' + @NameProc + '}', '{}', ''),
		CHAR(9), 
		'>>> ', 
		@Message)

	RAISERROR(@Result, 10, 1) WITH NOWAIT
END